<h2>Contact</h2>
<p>
  📍 {{ site.data.cv.location }}<br>
  <a href="mailto:{{ site.data.cv.email }}">{{ site.data.cv.email }}</a><br>
  <a href="{{ site.data.cv.website }}">{{ site.data.cv.website }}</a><br>
  {% if site.data.cv.scholar %}<a href="{{ site.data.cv.scholar }}">Google Scholar</a><br>{% endif %}
  {% if site.data.cv.orcid %}<a href="https://orcid.org/{{ site.data.cv.orcid }}">ORCID</a><br>{% endif %}
  {% if site.data.cv.github %}<a href="{{ site.data.cv.github }}">GitHub</a><br>{% endif %}
  {% if site.data.cv.linkedin %}<a href="{{ site.data.cv.linkedin }}">LinkedIn</a>{% endif %}
</p>
